---
extension: html
filter:    erb
layout:    index
---
<div class='hentry entry'>
  <div class='entry-title column span-15 first last'>
    <h2 class='entry-title'><%= @page.title %></h2>
  </div>
  <div class='entry-summary'>
    <%= @page.summary %>
  </div>
  <div class='post-info'>
    <abbr class='published' title='<%= @page.created_at.to_s %>'><%=  @page.created_at.strftime('%b %d, %Y') %></abbr>
  </div>
  <div class='entry-content'>
    <%= @content %>
  </div>
</div>