---
extension: css
filter:    erb
layout:    nil   # no layout

color:
  border:      "#ddd"
  header:      "#111"
  link:        "#125AA7"
  link-hover:  "#125AA7"
  blockquote:  "#222"
  box-bg:      "#EEF3FE"
  box-border:  "#B7CDF1"
  highlight:   "#B7CDF1"
  bg-hilight:  "#FFFFDD"
  quiet:       "#999"
  alt:         "#999"
---

body {
  font-family:  Verdana, "Bitstream Vera Sans", sans-serif;
  font-size:    12px;
  line-height:  18px;
  margin:       0;
  padding:      0;
  color:        #222;
/*  background: url('blueprint/lib/grid.png') repeat top right;*/
}

.container {
  width:  590px;
}

/* Headings
 * --------------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6 {
  letter-spacing: -1px;
  color:          <%= @page.color['header'] %>;
  font-family:    "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

h2 {
  font-size:      36px;
  line-height:    36px;
  font-weight:    bold;
  margin:         0;
  margin-bottom:  .5em;
  color:          <%= @page.color['header'] %>;
}

h3 {
  font-size:      22px;
  line-height:    36px;
  margin-bottom:  18px;
}

h3.outset {
  position: absolute;
  text-align: right;
  width: 190px;
  padding-right: 10px;
  font-size: 18px;
  line-height: 18px;
  text-transform:  uppercase;
  margin: 0 0 0 -200px;
}

h4 {
  padding:      9px 0;
  margin:       0;
  font-size:    18px;
  line-height:  18px;
  font-weight:  bold;
}

/* Text Elements
 * --------------------------------------------------------------------- */
p { margin-bottom:  18px; line-height: 18px; }

a {
  color: #222;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}

a:hover {
  color: <%= @page.color['link-hover'] %>;
/*  border-bottom: 0px solid #125AA7;*/
}

acronym, abbr {
  border-bottom: 1px dotted #ccc;
}


/*a       { color: <%= @page.color['link'] %>; text-decoration: none;}
a:hover { color: <%= @page.color['link-hover'] %>; text-decoration: underline;}
*/
p.read-more { text-align: center; margin: 18px 0 0;}
p.read-more a { text-align: center; color: <%= @page.color['link-hover'] %>; font-size: 18px; border: 0;}
p.read-more a:hover { text-decoration: underline;}

blockquote {
  margin-left:  0;
  padding-left: 1.5em;
  color:        <%= @page.color['blockquote'] %>;
}

pre {
  padding:  .9px 0;
  margin:   0 0 18px;
}

pre, code, tt {
  font-size:    12px;
  line-height:  18px;
}

sup {
  line-height: 1px;
}

hr {
  background: <%= @page.color['highlight'] %>;
  color:      <%= @page.color['highlight'] %>;
}

dl {margin-bottom: 18px;}

ul, ol {margin-bottom: 18px;}

ul.no-bullet {
  list-style:   none;
  margin-left:  0;
}

ul.no-bullet li {
  margin-left:  none;
  padding-left: none;
}

em {
  font-style: normal;
  background: #FFFFDD;
}

/* Tables
 * --------------------------------------------------------------------- */
table {
  border-top:     1px solid <%= @page.color['border'] %>;
  border-left:    1px solid <%= @page.color['border'] %>;
}
th,td { 
  border-bottom:  1px solid <%= @page.color['border'] %>;
  border-right:   1px solid <%= @page.color['border'] %>;
}

/* Default Classes and Elements
 * --------------------------------------------------------------------- */
 
 a.fig { font-style:italic;}
 
p.quiet { color: <%= @page.color['quiet'] %>; }
.alt    { color: <%= @page.color['alt'] %>; }
.extra-quiet { color: #999; }
.extra-quiet a { color:  #666 !important;}
.extra-quiet a:hover { color: <%= @page.color['link-hover'] %> !important; }
.plain a, a.plain {
  text-decoration: none;
}

a.top-link {
  font-size: .9em;
  position:   absolute;
  right:      0;
  top:        1em;
  color:      #999 !important;
  border:     0;
}

a.top-link:hover {
  color: #666 !important;
}

#recent .top-link {
  top: 0;
}

.section {
  margin:   0 0 36px;
  position: relative;
}

#header {
  font-family:  "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  height:       36px;
}

#header h1.title {
  margin:       0;
  padding:      0;
  padding-top:  18px;
  font:         bold 18px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  display:      block;
}

h1.title a { color:  #666; border: 0; text-decoration: none; }
h1.title a:hover { color: <%= @page.color['header'] %>;}
h1.title a small { color:  #aaa;}

.nav ul {
  display:      block;
  float:        right;
  font-size:    1em;
  font-weight:  bold;
  padding:      0;
  margin:       0;
}

.nav li {
  text-align: right;
  list-style: none;
  display:    block;
}

.nav ul li a {
  padding-top:      14px;
  border-top:       4px solid <%= @page.color['border'] %>;
  border-bottom:           0;
  display:          block;
  color:            #999;
  text-decoration:  none;
  /*padding-top:  .5em;*/
}

.nav a:hover, .nav ul li.active a {
  border-top: 4px solid <%= @page.color['header'] %>;
  color:      <%= @page.color['header'] %>;
  background: #fff;
}

address {margin-top: 0;}


ul.info {
  margin-left: 0;
}
ul.info li {
  list-style:   none;
  margin-left:  0;
  padding-left: 0;
}

dl.posts { margin: 0 0 18px 0;}

dl.posts dt {
  font-weight:  normal;
  font-size:    18px;
  margin-top:   18px;
  line-height:  18px;
}

dl.posts dd {
  margin:       0;
  line-height:  18px;
}

#footer {position:relative;}

#footer, #footer a { color: #444;}
#footer h3 { color: #999;}
#footer a:hover { color:  #125AA7;}

#footer p {
}

/*#footer p a { color:  #125AA7;}*/

#footer .panel {
  width:        180px;
  margin-right: 20px;
}

#footer .panel.last {
  width:        190px;
  margin-right: 0;
}

a.top-link {top:0;}

#copyright {}
  
/* Entries
 * --------------------------------------------------------------------- */

.title-summary {
  margin: 0;
}

.post-list .title-summary {
  font-size:  .5em;
}

.entry-title a {
  color: <%= @page.color['header'] %>;
  text-decoration: none;
  border: 0;
}
.entry-title a:hover {
    color: <%= @page.color['header'] %>;
    background: <%= @page.color['bg-hilight'] %>;
}

.post-info {
  line-height: 18px;
  text-align:   right;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom:  18px;
}

.post-info abbr {
  color:  #999;
  border-bottom: 0;
}

p.entry-summary {
  font:   italic 18px/27px Georgia, "Times New Roman", Times, serif;
  color:  <%= @page.color['quiet'] %>;
  text-align: justify;
  padding: 0;
  margin: 0;
}

.entry-summary a {color: #666; text-decoration: underline;}
.entry-summary a:hover {color: #333;}
div.entry-content {
  margin-top:  1em;
}

.entry-content p, .entry-content ul {
  line-height: 18px;
  width: 450px;
  margin-right: 0;
}

.entry-content ul, .entry-content ol {
  list-style-position: outside;
  margin-left:0;
  padding-left:0;
}

.entry-content ol li {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  line-height: 18px;
  color:  <%= @page.color['quiet'] %>;  
}

.entry-content ol li p {
  font-family: Verdana, "Bitstream Vera Sans", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  color: #222;
}

.entry-content .img {
    clear: right;
    width: 120px;
    margin: 0 0 1em 20px;
    float:right;
}

.entry-content .img img {
    width:100px;
    display:block;
/*    border: 10px solid #FFFFDD;*/
    margin-bottom:0;
    margin-left: auto;
    margin-right: 0;
}

.entry-content .img a {
    display: block;
    border: 10px solid #FFFFFF;
}

.entry-content .img a:hover, .entry-content .img a.hover {
    border-color: <%= @page.color['bg-hilight'] %> !important;
}

.clear {clear:both;}

.entry-content .img p {
    margin: .2em;
    width:100%;
    color: #999;
    text-align:center;
  font:   italic 1em/1.2 Georgia, "Times New Roman", Times, serif;
}

.entry-content .img.no-border img {border:0;}

.latest {
  margin-left: -40px;
  margin-right: -40px;
  margin-top: -18px;
  padding: 36px 40px;
  background: #FFFFDD;
}

.latest .entry-content {
  margin-bottom:  1em;
}

.latest .entry-content p {
  margin-right: 0;
  width: 100%;
}

.post-list .group {
  position: relative;
}

.post-list h3.month {
  position: absolute;
  text-align: right;
  width: 190px;
  padding-right: 10px;
  font-size: 18px;
  line-height: 18px;
  text-transform:  uppercase;
  margin: 0 0 0 -200px;
}

.month {color:  #999;letter-spacing: -1px;}
.month strong {color: #d4d4d4;}

.post-list .entry-title {
  margin: 0;
  padding: 0;
  font-size:  18px;
  line-height: 18px;
  font-weight:  bold;
  margin-bottom:  0;
  padding-bottom: 0;
}

.post-list .title-summary .entry-title a {
    background:  transparent;
}

.post-list .title-summary .entry-title a:hover {
    background:  <%= @page.color['bg-hilight'] %>;
}

.post-list .entry-summary {
  font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
  font-style: normal;
  line-height: 18px;
  font-size:  12px;
  padding:  3px 0 15px 0;
/*  margin:   0 0 18px;*/
}

.post-list .post-info {
  font-size: .8em;
}

#home h1 {
  font-size:  3em;
  font-weight:  bold;
}

/* Disqus Hackery
 * --------------------------------------------------------------------- */

.dsq-by {display:none;}
#disqus_thread #dsq-content h3 {
  font-weight: normal !important;
  margin: 0 0 18px 0 !important;
}
#dsq-content #dsq-options-toggle { display: none; }
#dsq-content #dsq-comments .dsq-comment-rate { display: none; }

#disqus_thread #dsq-content #dsq-comments .dsq-comment-header {
  position: absolute;
  text-align: right !important;
  width: 190px;
  padding-right: 10px;
  margin: 0px 0 0 -200px;
}

#disqus_thread #dsq-content #dsq-comments .dsq-comment { border: 0;}
#disqus_thread #dsq-content #dsq-comments .dsq-comment .dsq-comment-footer {display: none;}

/* Comment Attribution */
#disqus_thread #dsq-content #dsq-comments .dsq-comment {position: relative;}
#disqus_thread #dsq-content #dsq-comments .dsq-comment-header cite {float: right;}
#disqus_thread #dsq-content #dsq-comments .dsq-comment-header .icon-adjust {display:none;}
#disqus_thread #dsq-content #dsq-comments .dsq-comment-header .dsq-header-meta {clear: right; float: right;}

#disqus_thread#dsq-content #dsq-comments a.dsq-header-time {
  color:#999;
  margin:0;
}

#disqus_thread #dsq-content #dsq-comments .dsq-comment-header {
  height:36px;
  line-height:18px;
}


#disqus_thread #dsq-content #dsq-comments .dsq-comment-body {
  font-size: 12px;
  line-height: 18px;
  margin-top: 0;
}


/* EOF */
