---
extension: css
filter:    erb
layout:    nil   # no layout

color:
  border:      "#ddd"
  header:      "#111"
  link:        "#000"
  link-hover:  "#125AA7"
  blockquote:  "#222"
  box-bg:      "#e5eeff"
  box-border:  "#B7CDF1"
  highlight:   "#B7CDF1"
  quiet:       "#666"
  alt:         "#666"
---

body {
  font-family: Verdana, "Bitstream Vera Sans", sans-serif;
  font-size: 12px;
	margin:  0;
	padding:  0;
}

.container {
	width:	590px;
}

/* Headings
 * --------------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6 { color: <%= @page.color['header'] %>; }

/* Text Elements
 * --------------------------------------------------------------------- */
p { margin-bottom:  2em;}

a                 { color: <%= @page.color['link'] %>; }
a:hover           { color: <%= @page.color['link-hover'] %>; }

blockquote {
	margin-left: 0;
	padding-left:  1.5em;
	border-left: 1px dashed <%= @page.color['box-border'] %>;
	color: <%= @page.color['blockquote'] %>;
}

pre {
	background: <%= @page.color['box-bg'] %>;
	border-top: 1px dashed <%= @page.color['box-border'] %>;
	border-bottom: 1px dashed <%= @page.color['box-border'] %>;
	padding:  .3em 0;
	margin: 0 0 2em;
}

code {
	background: <%= @page.color['box-bg'] %>;
	font-size: 13px;
}

hr {
  background: <%= @page.color['highlight'] %>;
  color:      <%= @page.color['highlight'] %>;
}

ul.no-bullet {
	list-style: none;
	margin-left: 0;
}

ul.no-bullet li {
	margin-left:  none;
	padding-left:  none;
}

/* Tables
 * --------------------------------------------------------------------- */
table {
  border-top:     1px solid <%= @page.color['border'] %>;
  border-left:    1px solid <%= @page.color['border'] %>;
}
th,td {	
  border-bottom:  1px solid <%= @page.color['border'] %>;
  border-right:   1px solid <%= @page.color['border'] %>;
}

/* Default Classes and Elements
 * --------------------------------------------------------------------- */
p.quiet { color: <%= @page.color['quiet'] %>; }
.alt    { color: <%= @page.color['alt'] %>; }
.extra-quiet { color: #999; }
.extra-quiet a { color:  #666 !important;}
.extra-quiet a:hover { color: <%= @page.color['link-hover'] %> !important; }
.plain a, a.plain {
	text-decoration: none;
}

.section {
	margin: 0 0 3em;
}

#header {
	font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

#header h1.title {
  margin: 0;
  padding-top: 15px;
  letter-spacing: -1px;
	font: bold 1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
	display:  block;
}

h1.title a { color:  #666; }
h1.title a:hover { color: <%= @page.color['header'] %>;}
#header h1.title a { text-decoration: none;}
#header h1.title a small { color:  #aaa;}

.nav ul {
	display: block;
	float: right;
	font-size:  1em;
	font-weight:  bold;
	padding: 0;
	margin: 0;
}

.nav li {
	text-align:  right;
	list-style:  none;
	display:  block;
}

.nav ul li a {
	padding-top: 14px;
	border-top:  4px solid <%= @page.color['border'] %>;
	display:  block;
	color: #999;
	text-decoration:  none;
	/*padding-top:  .5em;*/
}

.nav a:hover {
	border-top: 4px solid <%= @page.color['header'] %>;
	color: <%= @page.color['header'] %>;
}

address {margin-top: 0;}


ul.info {
	margin-left: 0;
}
ul.info li {
	list-style: 	none;
	margin-left: 	0;
	padding-left:	0;
}

dl.posts { margin: 0 0 1em 0; }

dl.posts dt {
	margin-top:  1em;
	line-height:  1.5;
	/*margin-bottom:  .5em;*/
}

dl.posts dd {
	margin-left:  0;
	margin-bottom:  .5em;
	line-height:  1.5;
	/*font-size: .9em;*/
}


#footer p {
	margin-bottom:  .5em;
}

#footer .panel {
	width:  180px;
	margin-right:  20px;
	border-top:  3px solid <%= @page.color['border'] %>;
	padding-top:  1.5em;
}

#footer .panel.last {
	width:  190px;
	margin-right: 0;
}

#copyright {
	margin-top:  2em;
}
	
/* Entries
 * --------------------------------------------------------------------- */

.title-summary {
	font-size:  1em;
	margin: 0 0 1em;
}

.post-list .title-summary {
	font-size:  .5em;
}

.post-list .title-summary h4.entry-title {
	font-size:  3em;
}

h2 {
	margin: 0;
	margin-bottom:  .5em;
	color: <%= @page.color['header'] %>;
	font: bold 3em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.entry-title a {
    color: <%= @page.color['header'] %>;
    background: #FFFFCC;
	text-decoration: none;
}
.entry-title a:hover {
    color: <%= @page.color['header'] %>;
    background: #FFFFCC;
}

.post-info {
	line-height: 1;
	text-align: 	right;
	padding-bottom:  .2em;
	font-style: italic;
	font-family: Georgia, "Times New Roman", Times, serif;
	border-bottom: 	1px solid <%= @page.color['border'] %>;
}

.post-info abbr {
	color:  <%= @page.color['border'] %>;
	border-bottom: 0;
}

p.entry-summary {
	font: 	italic 1.75em/1.5 Georgia, "Times New Roman", Times, serif;
	color:  <%= @page.color['quiet'] %>;
	text-align:	justify;
	padding: 0;
	margin: 0;
}

.entry-summary a {color: #666;}
.entry-summary a:hover {color: #111;}
div.entry-content {
	margin-top:  1em;
}

div.entry-content p {
	font-size:  1.1em;
	margin-right:  25%;
}

.latest {
	padding-bottom:	3em;
	margin-bottom: 	2.5em;
	border-bottom:  3px solid <%= @page.color['border'] %>
}

.latest .entry-content {
	margin-bottom:  1em;
}

.latest .entry-content p {
	margin-right: 0;
}

.post-list h3.month {
	/*font-size: 1.25em;*/
	margin: 1em 0 .25em;
	color:  #999;
}

.post-list .entry-title {
	font-size:  1.2em;
	font-weight:  bold;
	margin-bottom:  0;
	padding-bottom: 0;
}

.post-list .title-summary .entry-title a {
    background:  transparent;
}

.post-list .title-summary .entry-title a:hover {
    background:  #FFFFCC;
}

.post-list .entry-summary {
	font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
	font-style: normal;
	font-size:  2.2em;
	padding:	0;
	margin:		0;
}

.post-list .post-info {
	font-size: .8em;
}

#home h1 {
	font-size:  3em;
	font-weight:  bold;
}

/* EOF */
  